# 안녕하세요:)

## '서울시 생활정보 기반 대중교통 수요 분석 ' 과정에 오신 여러분을 환영합니다.
* 본 과정에서는 서울시 생활정보 데이터를 기반으로 데이터 분석을 시도하고 주어진 문제를 해결할 것입니다.


* 우리는 공공 데이터를 활용해 버스노선 관련 인사이트를 도출하여 유용한 정책을 세우는데 도움을 주고자 합니다

## ▣ 우리가 풀어야 하는 문제는 무엇인가요?

* 제공 데이터
    - 구 별 유동인구 데이터
    - 구 별 주민 등록 데이터
    - 구 별 업종 등록 정보
    - 버스 승하차 및 운행 노선 데이터 

### 위 제공 데이터를 분석하여 버스 노선 추가 필요 대상 지역(구 단위)을 선정합니다

# 이 4개의 데이터들을 어떻게 합칠까요?

In [1]:
import pandas as pd

In [2]:
#구코드
standard = pd.DataFrame({'도착 시군구 코드': [11010, 11020, 11030, 11040, 11050, 11060, 11070, 11080, 11090, 11100, 11110, 11120, 11130, 11140, 11150, 11160, 11170, 11180, 11190, 11200, 11210, 11220, 11230, 11240, 11250],
                         '자치구' :['종로구','중구','용산구','성동구','광진구','동대문구','중랑구','성북구','강북구','도봉구','노원구','은평구','서대문구','마포구','양천구','강서구','구로구','금천구','영등포구','동작구','관악구','서초구','강남구','송파구','강동구']})

In [3]:
standard

    도착 시군구 코드   자치구
0       11010   종로구
1       11020    중구
2       11030   용산구
3       11040   성동구
4       11050   광진구
5       11060  동대문구
6       11070   중랑구
7       11080   성북구
8       11090   강북구
9       11100   도봉구
10      11110   노원구
11      11120   은평구
12      11130  서대문구
13      11140   마포구
14      11150   양천구
15      11160   강서구
16      11170   구로구
17      11180   금천구
18      11190  영등포구
19      11200   동작구
20      11210   관악구
21      11220   서초구
22      11230   강남구
23      11240   송파구
24      11250   강동구

In [5]:
# 버스 정류장 데이터 - df_seoul_bus_station
# 유동인구 데이터 - df_seoul_moving
# 구별 상권 데이터 - df_seoul_business
# 구별 등록 인구 데이터 - df_seoul_people

In [6]:
%cd 'bus_df_file'

/Users/unhi/Desktop/AI+X/두번째과제/데이터전처리/bus_df_file

In [7]:
df_seoul_bus_station = pd.read_csv('df_seoul_bus_station.csv', sep=",", encoding = 'UTF-8')
df_seoul_moving = pd.read_csv('df_seoul_moving.csv', sep=",", encoding = 'UTF-8')
df_seoul_business = pd.read_csv('df_seoul_business.csv', sep=",", encoding = 'UTF-8')
df_seoul_people = pd.read_csv('df_seoul_people.csv', sep=",", encoding = 'UTF-8')

In [48]:
# 버스 정류장 데이터
df_seoul_bus_station.head()

   자치구  정류장수  노선수   승차총승객수   하차총승객수     승차평균승객수     하차평균승객수
0  강남구   499   91  8030483  7569213  128.767927  121.371512
1  강동구   369   21  2890053  2830506   99.161194   97.118065
2  강북구   413   67  4825181  4671783  133.020373  128.791504
3  강서구   566   49  4681083  4652828   88.119480   87.587591
4  관악구   466   86  7655819  7792476  154.753674  157.516040

In [49]:
# 유동인구 데이터
df_seoul_moving.head()

     대상연월 요일  도착시간  출발 시군구 코드  도착 시군구 코드 성별  나이 이동유형  평균 이동 시간(분)  이동인구(합)
0  202204  일     0      11010      11010  F   0   EE           10    28.02
1  202204  일     0      11010      11010  F   0   EH           10    27.52
2  202204  일     0      11010      11010  F   0   HE           10    27.83
3  202204  일     0      11010      11010  F  10   HW           10     6.05
4  202204  일     0      11010      11010  F  10   EH           90     5.95

In [10]:
# 구별 상권 데이터
df_seoul_business.head()

,자치구,동,택시운송업(사업체수),택시운송업(종사자수),한식일반음식점업(사업체수),한식일반음식점업(종사자수),용달화물자동차운송업(사업체수),용달화물자동차운송업(종사자수),부동산중개및대리업(사업체수),부동산중개및대리업(종사자수),...,커피전문점(사업체수),커피전문점(종사자수),남녀용겉옷및셔츠도매업(사업체수),남녀용겉옷및셔츠도매업(종사자수),기타주점업(사업체수),기타주점업(종사자수),일반교과학원(사업체수),일반교과학원(종사자수),한식육류요리전문점(사업체수),한식육류요리전문점(종사자수)
0,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
1,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
2,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220
3,종로구,삼청동,5,5,42,145,4,4,9,10,...,66,243,2,3,3,8,-,-,7,33
4,종로구,부암동,22,22,26,100,9,9,17,26,...,24,62,3,6,7,23,16,59,3,15

In [11]:
# 구별 등록 인구 데이터
df_seoul_people.head()

,기간,자치구,세대,인구(계),남자,여자,한국인(계),한국인 남자,한국인 여자,등록외국인(계),등록외국인 남자,등록외국인 여자,세대당인구,65세이상고령자
0,2022.1/4,합계,4451444,9732617,4716704,5015913,9506778,4613910,4892868,225839,102794,123045,2.14,1628980
1,2022.1/4,종로구,73766,153684,74018,79666,144275,69911,74364,9409,4107,5302,1.96,28064
2,2022.1/4,중구,63767,131450,63869,67581,122173,59448,62725,9277,4421,4856,1.92,24742
3,2022.1/4,용산구,111207,236518,114571,121947,222169,106735,115434,14349,7836,6513,2.00,39461
4,2022.1/4,성동구,134533,291609,141662,149947,285073,138847,146226,6536,2815,3721,2.12,46896

In [12]:
# 구별 등록 인구 데이터
df_seoul_people.shape

(26, 14)

In [13]:
# 구별 상권 데이터
df_seoul_business.shape

(449, 22)

In [14]:
# 버스 정류장 데이터
df_seoul_bus_station.shape

(25, 7)

In [15]:
# 유동인구 데이터
df_seoul_moving.shape

(10655895, 10)

In [16]:
df= pd.DataFrame()

In [17]:
df= pd.DataFrame()
# standard - 구코드
df = pd.merge(standard,df_seoul_people,how='inner', on='자치구')
df = pd.merge(df,df_seoul_business,how='inner', on='자치구')
df = pd.merge(df,df_seoul_bus_station,how='inner', on='자치구')
# df = pd.merge(df,df_seoul_moving,how='inner', on='도착 시군구 코드')

In [18]:
df.tail()

,도착 시군구 코드,자치구,기간,세대,인구(계),남자,여자,한국인(계),한국인 남자,한국인 여자,...,일반교과학원(사업체수),일반교과학원(종사자수),한식육류요리전문점(사업체수),한식육류요리전문점(종사자수),정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수
443,11250,강동구,2022.1/4,201926,465097,227891,237206,461300,226203,235097,...,66,199,44,164,369,21,2890053,2830506,99.161194,97.118065
444,11250,강동구,2022.1/4,201926,465097,227891,237206,461300,226203,235097,...,35,90,24,101,369,21,2890053,2830506,99.161194,97.118065
445,11250,강동구,2022.1/4,201926,465097,227891,237206,461300,226203,235097,...,31,67,34,98,369,21,2890053,2830506,99.161194,97.118065
446,11250,강동구,2022.1/4,201926,465097,227891,237206,461300,226203,235097,...,24,42,69,245,369,21,2890053,2830506,99.161194,97.118065
447,11250,강동구,2022.1/4,201926,465097,227891,237206,461300,226203,235097,...,39,136,70,224,369,21,2890053,2830506,99.161194,97.118065

In [19]:
df.shape

(448, 42)

In [20]:
# df_seoul_moving.columns

In [21]:
df_seoul_moving['도착 시군구 코드'].value_counts()

11230    554203
11220    500442
11190    495583
11020    485934
11140    480338
11010    477507
11240    467812
11080    458227
11060    454757
11040    453388
11030    440210
11200    428941
11050    428541
11130    424127
11210    423267
11160    420394
11110    418662
11170    386380
11070    381666
11120    367919
11250    367581
11150    363495
11090    360967
11100    320805
11180    294749
Name: 도착 시군구 코드, dtype: int64

In [22]:
df_seoul_moving['도착 시군구 코드'].unique()

array([11010, 11020, 11030, 11040, 11050, 11060, 11070, 11080, 11090,
       11100, 11110, 11120, 11130, 11140, 11150, 11160, 11170, 11180,
       11190, 11200, 11210, 11220, 11230, 11240, 11250])

In [23]:
# https://www.delftstack.com/ko/howto/python-pandas/split-pandas-dataframe/#sample%25EB%25A9%2594%25EC%2584%259C%25EB%2593%259C%25EB%25A5%25BC-%25EC%2582%25AC%25EC%259A%25A9%25ED%2595%2598%25EC%2597%25AC-dataframe-%25EB%25B6%2584%25ED%2595%25A0

In [24]:
samples= df_seoul_moving.groupby(df_seoul_moving['도착 시군구 코드'])

In [25]:
moving1= samples.get_group(11010)

In [26]:
# 총 25개
moving2= samples.get_group(11020)
moving3= samples.get_group(11030)
moving4= samples.get_group(11040)
moving5= samples.get_group(11050)
moving6= samples.get_group(11060)
moving7= samples.get_group(11070)
moving8= samples.get_group(11080)
moving9= samples.get_group(11090)
moving10= samples.get_group(11100)

moving11= samples.get_group(11110)
moving12= samples.get_group(11120)
moving13= samples.get_group(11130)
moving14= samples.get_group(11140)
moving15= samples.get_group(11150)
moving16= samples.get_group(11160)
moving17= samples.get_group(11170)
moving18= samples.get_group(11180)
moving19= samples.get_group(11190)
moving20= samples.get_group(11200)

moving21= samples.get_group(11210)
moving22= samples.get_group(11220)
moving23= samples.get_group(11230)
moving24= samples.get_group(11240)
moving25= samples.get_group(11250)

In [27]:
moving1.head()

     대상연월 요일  도착시간  출발 시군구 코드  도착 시군구 코드 성별  나이 이동유형  평균 이동 시간(분)  이동인구(합)
0  202204  일     0      11010      11010  F   0   EE           10    28.02
1  202204  일     0      11010      11010  F   0   EH           10    27.52
2  202204  일     0      11010      11010  F   0   HE           10    27.83
3  202204  일     0      11010      11010  F  10   HW           10     6.05
4  202204  일     0      11010      11010  F  10   EH           90     5.95

In [28]:
moving1.shape

(477507, 10)

In [29]:
df= pd.DataFrame()

df = pd.merge(standard,df_seoul_people,how='inner', on='자치구')
df = pd.merge(df,df_seoul_business,how='inner', on='자치구')
df = pd.merge(df,df_seoul_bus_station,how='inner', on='자치구')
# df = pd.merge(df,df_seoul_moving,how='inner', on='도착 시군구 코드')

In [30]:
df.shape

(448, 42)

In [31]:
# df_seoul_moving 자치구별로 쪼개서 merge (ram 용량 이슈)

In [32]:
df = pd.merge(df,moving1,how='inner', on='도착 시군구 코드')
# Unable to allocate 23.1 GiB for an array with shape (16, 193545117) and data type int64

In [33]:
df.shape

(8595126, 51)

In [34]:
df = pd.concat([df, moving23], ignore_index=True)

In [35]:
df.shape

(9149329, 51)

In [36]:
df = pd.concat([df, moving2], ignore_index=True)

In [37]:
df.shape

(9635263, 51)

In [38]:
df.head()

,도착 시군구 코드,자치구,기간,세대,인구(계),남자,여자,한국인(계),한국인 남자,한국인 여자,...,하차평균승객수,대상연월,요일,도착시간,출발 시군구 코드,성별,나이,이동유형,평균 이동 시간(분),이동인구(합)
0,11010,종로구,2022.1/4,73766.0,153684.0,74018.0,79666.0,144275.0,69911.0,74364.0,...,125.534028,202204,일,0,11010,F,0,EE,10,28.02
1,11010,종로구,2022.1/4,73766.0,153684.0,74018.0,79666.0,144275.0,69911.0,74364.0,...,125.534028,202204,일,0,11010,F,0,EH,10,27.52
2,11010,종로구,2022.1/4,73766.0,153684.0,74018.0,79666.0,144275.0,69911.0,74364.0,...,125.534028,202204,일,0,11010,F,0,HE,10,27.83
3,11010,종로구,2022.1/4,73766.0,153684.0,74018.0,79666.0,144275.0,69911.0,74364.0,...,125.534028,202204,일,0,11010,F,10,HW,10,6.05
4,11010,종로구,2022.1/4,73766.0,153684.0,74018.0,79666.0,144275.0,69911.0,74364.0,...,125.534028,202204,일,0,11010,F,10,EH,90,5.95

In [39]:
df = pd.concat([df, moving3], ignore_index=True)
df = pd.concat([df, moving4], ignore_index=True)
df = pd.concat([df, moving5], ignore_index=True)
df = pd.concat([df, moving6], ignore_index=True)
df = pd.concat([df, moving7], ignore_index=True)
df = pd.concat([df, moving8], ignore_index=True)
df = pd.concat([df, moving9], ignore_index=True)
df = pd.concat([df, moving10], ignore_index=True)

In [40]:
df = pd.concat([df, moving11], ignore_index=True)
df = pd.concat([df, moving12], ignore_index=True)
df = pd.concat([df, moving13], ignore_index=True)
df = pd.concat([df, moving14], ignore_index=True)
df = pd.concat([df, moving15], ignore_index=True)
df = pd.concat([df, moving16], ignore_index=True)
df = pd.concat([df, moving17], ignore_index=True)
df = pd.concat([df, moving18], ignore_index=True)
df = pd.concat([df, moving19], ignore_index=True)
df = pd.concat([df, moving20], ignore_index=True)

In [41]:
df = pd.concat([df, moving21], ignore_index=True)
df = pd.concat([df, moving22], ignore_index=True)
df = pd.concat([df, moving24], ignore_index=True)
df = pd.concat([df, moving25], ignore_index=True)

In [42]:
df.shape

(18773514, 51)

In [43]:
df_seoul_moving.shape

(10655895, 10)

In [44]:
df_seoul_moving.head()

     대상연월 요일  도착시간  출발 시군구 코드  도착 시군구 코드 성별  나이 이동유형  평균 이동 시간(분)  이동인구(합)
0  202204  일     0      11010      11010  F   0   EE           10    28.02
1  202204  일     0      11010      11010  F   0   EH           10    27.52
2  202204  일     0      11010      11010  F   0   HE           10    27.83
3  202204  일     0      11010      11010  F  10   HW           10     6.05
4  202204  일     0      11010      11010  F  10   EH           90     5.95

In [45]:
df.head()

,도착 시군구 코드,자치구,기간,세대,인구(계),남자,여자,한국인(계),한국인 남자,한국인 여자,...,하차평균승객수,대상연월,요일,도착시간,출발 시군구 코드,성별,나이,이동유형,평균 이동 시간(분),이동인구(합)
0,11010,종로구,2022.1/4,73766.0,153684.0,74018.0,79666.0,144275.0,69911.0,74364.0,...,125.534028,202204,일,0,11010,F,0,EE,10,28.02
1,11010,종로구,2022.1/4,73766.0,153684.0,74018.0,79666.0,144275.0,69911.0,74364.0,...,125.534028,202204,일,0,11010,F,0,EH,10,27.52
2,11010,종로구,2022.1/4,73766.0,153684.0,74018.0,79666.0,144275.0,69911.0,74364.0,...,125.534028,202204,일,0,11010,F,0,HE,10,27.83
3,11010,종로구,2022.1/4,73766.0,153684.0,74018.0,79666.0,144275.0,69911.0,74364.0,...,125.534028,202204,일,0,11010,F,10,HW,10,6.05
4,11010,종로구,2022.1/4,73766.0,153684.0,74018.0,79666.0,144275.0,69911.0,74364.0,...,125.534028,202204,일,0,11010,F,10,EH,90,5.95

In [46]:
df.to_csv("total_df.csv", index = False)

In [47]:
df= pd.read_csv('total_df.csv', sep=",", encoding = 'UTF-8')

/var/folders/g8/gxj_9tnx19z2g9100vrzql0m0000gn/T/ipykernel_79256/2576802350.py:1: DtypeWarning: Columns (1,2,15,18,19,24,25,27,28,29,30,31,32,33,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('total_df.csv', sep=",", encoding = 'UTF-8')

---

## 1.가설 수립 
+ 어떤 데이터를 label 데이터로 하실 건가요?

? 정해진게 없나요? - 네 라벨을 개인및 조별로 고민하셔서 라벨데이터를 설정하시면 되겠습니다
? 가설마다 라벨데이터가 달라도 상관없나요? 네 그렇습니다
? 가설은 3개만 해야하나요? 그 이상 하셔도 무방합니다

### 가설을 설정해 봅시다 (인당 최소 3개) - 미니프로젝트 진행의 편의상 가설은 이변량 분석을 염두에 두고 설정해 주세요

* 가설 1

* 가설 2

* 가설 3

## 2.단변량 분석

+ 변수의 비즈니스 의미  

+ 숫자? 범주?  

+ 전처리 사항
   - NaN 존재 여부 및 조치 방안  
   - 가변수화 대상여부  
   
+ 기초통계량

+ 분포  

+ 위 정보로부터 파악한 내용(비즈니스!) 정리  

+ 추가 분석해볼 사항 도출

In [ ]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='nanum')
sns.set(font="NanumGothicCoding",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

### 1)

### 2)

### 3)

## 3.이변량 분석

* 자료의 종류에 맞게 X --> Y 에 대해서 그래프(시각화)와 가설검정(수치화)를 수행하고 결과를 평가합니다.

* 가설검정시 다음의 항목을 참조하여 수행합니다.
    * 유의수준 : 5%
    * 숫자 --> 숫자 : 상관분석
    * 범주 --> 범주 : 카이제곱검정
    * 범주 --> 숫자 : t검정, 분산분석
    * 숫자 --> 범주 : 로지스틱 회귀모형을 통해, 회귀계수의 P.value로 검정을 수행합니다.

In [ ]:
target =

### 1)

### 2)

### 3)

### 상관계수를 구하고 HeatMap으로 시각화 후 나름의 분석을 해보세요.

In [ ]:
# 아래에 실습코드를 작성하고 상관계수를 확인 및 시각화 합니다.
import scipy.stats as spst

spst.pearsonr(X,Y)

In [ ]:
# 아래에 실습코드를 작성하고 상관계수를 확인 및 시각화 합니다.

sns.heatmap(seoul_bus_station.corr(), annot = True)
plt.show()

In [ ]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.

## 4.관계 정리

### 1) 강한 관계의 변수

### 2) 약한 관계의 변수

## 5.솔루션 도출

### 어느 구에 버스 노선 또는 정류장이 제일 필요한가요? 그 이유는?